.App {
  width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
}

.ekleme_formu input,
.ekleme_formu button,
.temizle {
  padding: 5px;
  border: 1px solid white;
  outline: 0;
  font-size: 16px;
  cursor: pointer;
  background-color: antiquewhite
}

.ekleme_formu input {
  background: #e1e1e2;
}

.ekleme_formu button,
.temizle {
  background: #333;
  color: white;
}

.liste {
  padding: 20px 0;
  color:yellowgreen;
}

.liste > div {
  padding: 8px 0;
  border-bottom: 1px solid #ccca;
}

.liste > div:last-child {
  border-bottom: 0;
}

.yapildi {
  text-decoration: line-through;
}

.yapilmadi{
  color: lightpink;
  
}

*{background-color: #333}

h1{
  color: antiquewhite
}